.benefits-list {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.benefits-list__item {
  max-width: 100%;
  margin: 0 auto;

  &:not(:last-child) {
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media (min-width: 1200px) {
    width: calc((100% - 4 * 30px) / 4);
  }
}

.benefits-list__card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  background-color: $background-color-graish;
  border: 1px solid transparent;
  border-radius: 4px;

  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}

.benefits-list__subtitle {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  color: $color-black;
  margin-bottom: 10px;

  @media (max-width: 767px) {
    text-align: center;
  }
}

.benefits-list__text {
  line-height: 1.71;
}
