.clients__title {
  margin-bottom: 30px;

  @media (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin: -15px;
}

.clients-list__item {
  margin: 15px;
  width: calc((100% - 2 * 30px) / 2);

  @media (min-width: 768px) {
    width: calc((100% - 3 * 30px) / 3);
  }

  @media (min-width: 1200px) {
    width: calc((100% - 6 * 30px) / 6);
  }
}
.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;

  fill: $color-light-grey;
  border: 1px solid $color-light-grey;
  border-radius: 4px;

  padding: 16px 0;

  transition: fill 250ms $timing-function, background-color 250ms $timing-function;

  &:hover,
  &:focus {
    fill: $color-blue;
    border-color: $color-blue;
  }
}
