.footer {
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 1600px;
  background-color: $background-color-footer;

  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;

  @media (min-width: 1200px) {
    display: flex;
    justify-content: center;
    text-align: start;
    align-items: baseline;
  }
}

.footer__contacts {
  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 60px;
  }

  @media (min-width: 1200px) {
    margin: 0;
  }
}
