.galery-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.galery-list__item {
  width: 100%;

  border: 1px solid #eeeeee;
  transition: box-shadow 250ms $timing-function;
  margin: 15px;

  @media (min-width: 768px) {
    width: calc((100% - 2 * 15px) / 2);
    max-width: 354px;
  }

  @media (min-width: 1200px) {
    width: calc((100% - 3 * 15px) / 3);
    max-width: 370px;
  }

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.galery-list__img {
  display: block;
  width: 100%;
}

.galery-list__thumb {
  position: relative;
  overflow: hidden;
}

.galery-list__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  font-size: 18px;
  line-height: 1.56;
  color: $color-white;
  background-color: rgba(33, 150, 243, 0.9);

  padding: 63px 24px;
  transform: translateY(100%);

  transition: transform 250ms $timing-function;

  @media (max-width: 767px) {
    height: 100%;
  }

  .galery-list__item:hover & {
    transform: translateY(0);
  }
}

.galery-list__title {
  color: $color-black;

  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.galery-list__type {
  line-height: 1.88;
  font-size: 16px;
}

.galery-list__card {
  padding: 20px 25px;
}
