.subscription {
  padding-top: 72px;
  padding-bottom: 94px;
  margin-left: 93px;
}
.subscription__form {
  align-items: center;
  justify-content: center;
}
.subscription__input {
  min-width: 358px;
  max-height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: inherit;

  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline-width: 0px;
  padding: 15px 16px;
  margin-right: 12px;
}
.subscription__input:focus {
  border: 1px solid $color-white;
}
.subscription__button {
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;

  padding: 10px 62px 10px 29px;
}
.subscription__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}