.title {
  font-weight: 700;
  text-align: center;
  font-size: 28px;
  line-height: 1.18;

  color: $color-black;
  margin-bottom: 30px;

  @media (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}
