$color-main: #757575;
$color-black: #212121;
$color-blue: #2196f3;
$color-white: #ffffff;
$color-button-hover: #188ce8;
$color-light-grey: #afb1b8;

$background-color-graish: #f5f4fa;
$background-color-footer: #2f303a;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
